<table class='table .table-striped'>
  <thead>
    <tr>
      <th>Stakeholder</th>
      <th>Title</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @problems.each do |problem| %>
      <%= erb :_problem, locals: {problem: problem} %>
    <% end %>
  </tbody>
</table>
<div class="well">
  <p><strong>Authors:</strong> <%= @authors.map(&:name).join(", ") %></p>
  <p><strong>Concepts:</strong> <%= @concepts.map(&:name).join(", ") %></p>
</div>
